$color-white: #fff;
$color-black: #000;
$color-primary: #272643;
$color-secondary: #e3f6f5;
$color-terciary: #bae8e8;
$color-cuaternary: #2c698d;
$color-suave: #eff3f6;
$color-background-theme-ligth: #f9f9f9;
//DARK THEME
$color-white-theme-dark: rgb(125, 125, 125);
$color-black-theme-dark: rgb(202, 196, 249);
$color-primary-theme-dark: #ffc067;
$color-secondary-theme-dark: #81c6c3;
$color-terciary-theme-dark: #bae8e8;
$color-cuaternary-theme-dark: #8bd4fe;
$color-suave-theme-dark: #646464;