@import "./vars/colors-theme-primary.scss";
@import "./vars/typography.scss";

* {
  // background-color: $color-primary;
  margin: 0;
  padding: 0;
  font-family: $font-primary;
  height: 100%;

}

body {
  background: #fefefe; //gris
  height: 100vh; //que la altura sea toda la altura del view port
  // margin: 0 auto;//tecnica para centrar el body
  // max-width: 500px;//mobile first
  overscroll-behavior: none; //evitar que haga rebotes al usar scroll
  width: 100%;
}

.modal-viewport {
  height: auto;
}