@import "./global.scss";

.ListImages {
  // display: grid;
  // grid-template-columns: repeat(auto-fill, 240px);
  // place-content: center;
  // gap: 26px;
  // min-width: 320px;
  // max-width: 1200px;
  // margin: 0 auto;
  // background-color: #f9f9f9;

  /* grid-template-columns: repeat(auto-fill, 240px); */
  /* place-content: center; */
  gap: 26px;
  min-width: 320px;
  // max-width: 1200px;
  /* margin: 0 auto; */
  // background-color: #f9f9f9;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding-bottom: 14px;
  // margin: 0 auto;

  height: auto;
}

.theme-dark {
  background-color: #464657;
}

// @media only screen and (max-width: 1037px) {
//   .ListImages {
//     margin-top: 30px;
//   }
// }

// @media only screen and (max-width: 440px) {
//   .ListImages {
//     margin-top: 550px;
//   }
// }